/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo-Regular.woff2") format("woff2"),
    url("../fonts/Chivo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  font-family: "Chivo", sans-serif;
}
html {
  height: 100%;
}
main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.container {
  width: 1020px;
  padding: 0 50px;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header {
  padding: 30px 0;
}
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.nav-item:not(:last-child) {
  margin-right: 58px;
}
.nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  /* identical to box height, or 108% */
  font-family: "Century Gothic";

  /* text-align: right; */

  color: #aaaaaa;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.hero-container {
  background: url(../images/hero-img.png);
  width: 920px;
  height: 613px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hero-title {
  /* font-family: "Chivo"; */
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}
.hero-h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.206928px;
  color: #ffffff;
}
.hero {
  margin-bottom: 34px;
  padding-top: 78px;
}
.exp-container {
  background: url(../images/exp-bg.png);
  width: 920px;
  height: 613px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.exp-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}
.exp-h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.206928px;
  color: #ffffff;
}
.exp {
  margin-bottom: 17px;
}
.collection-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.collection-port {
  background: url(../images/collection-bg.png);
  width: 443px;
  height: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.collection-port2 {
  background: url(../images/collection2-bg.png);
  width: 443px;
  height: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.collection-title {
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  color: #ffffff;
}
.collection-h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.13px;
  color: #ffffff;
}
.collection {
  margin-bottom: 34px;
}
.exposition-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.exposition-title {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.exposition-h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;

  letter-spacing: 0.13px;
  color: #ffffff;
}
.exposition-port1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../images/port-bg.png);
  width: 284px;
  height: 284px;
}
.exposition-port2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../images/port2-bg.png);
  width: 284px;
  height: 284px;
}
.exposition-port3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../images/port3.png);
  width: 284px;
  height: 284px;
}
.exposition {
  margin-bottom: 131px;
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-item {
  width: 36px;
  height: 36px;
  background: #000000;
}
.footer-item:not(:last-child) {
  margin-right: 10px;
}
.footer-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 158% */

  text-align: center;
  letter-spacing: 0.38px;

  color: #333333;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hero-container {
    background: url(../images/hero-img@2x.png);
  }
  .exp-container {
    background: url(../images/exp-bg@2x.png);
  }
  .collection-port {
    background: url(../images/collection-bg@2x.png);
  }
  .collection-port2 {
    background: url(../images/collection2-bg@2x.png);
  }
  .exposition-port1 {
    background: url(../images/port-bg@2x.png);
  }
  .exposition-port2 {
    background: url(../images/port-bg2@2x.png);
  }
  .exposition-port3 {
    background: url(../images/port3-bg@2x-2.png);
  }
}
